@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "multilevel-dropdown";

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700');


body {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
}

.navbar:first-child {
	border-top: 5px solid $primary;
}

.navbar.bg-dark {
	.dropdown-menu {
		font-size: .75rem;
		background-color: $dark;
		border-radius: 0;
	}

	.nav-link {
		white-space: nowrap;
		color: $light;

		&:hover {
			color: $primary;
		}
	}

	.nav-item {
		padding: 0rem 1rem;
	}

	.dropdown-item {
		color: $light;

		&:hover {
			background-color: $dark;
			color: $primary;
		}
	}
}

.page_content a {
	background-color: lighten($color: $primary, $amount: 25%);
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	color: $dark;
	text-decoration: none;

	&:hover {
		background-color: lighten($primary, 10%);
		border-bottom-color: rgba(0, 0, 0, 0.8);
	}
}

.form-control {
	border-radius: 0;
}

.btn {
	border-radius: 0;
}

.input-dark {
	background-color: $dark;
	border-color: darken($primary, 40%);
	color: $light;
}

.breadcrumb {
	font-size: 0.75rem;
}

a.card {
	text-decoration: none;
}

img {
	max-width: 100%;
}

.hidden {
	@extend .d-none;
}